<div class="container text-center mt-5" style="height: 66.5vh" *ngIf="eMsg">
    <div class="row">
        <div class="col">
            <img class="mt-5" src="https://cdn.dribbble.com/users/1753953/screenshots/3818675/animasi-emptystate.gif" width="300px" alt="">
                <h3 class="m-3">Your Wishlist is Empty</h3>
            <button class="btn btn-primary" routerLink="/">Shop Now</button>
        </div>
    </div>
</div>



 <!-- <pre>
    {{allproducts | json}}
 </pre> -->
 
 <!-- Section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let products of wishlist">
                <div class="card h-100" style="align-items: center;">
                    <!-- Product image-->
                    <img class="card-img-top" [src]="products.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{products.title}}</h5>
                            <!-- Product price-->
                            ${{products.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><button class="btn btn-outline-danger me-3" (click)="deletewish(products)"><i class="fa-solid fa-trash"></i></button>
                        <button class="btn btn-outline-success m-auto" (click)="addtocart(products)"><i class=" fa-solid fa-cart-shopping"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

